.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.left-column-header {
  flex: 1;
  padding-right: 20px;
}

.right-column-header {
  display: flex;
  align-items: center;
}

.photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: 20px;
}

.contact-info {
  margin-top: 20px;
  font-size: 14px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info i {
  margin-right: 10px;
}

.tagline {
  font-style: italic;
  color: gray;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cv {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

.header {
  text-align: center;
}

.photo {
  width: 80px;
  height: auto;
  border-radius: 50%;
}

.contact-info {
  margin-top: 10px;
}

.contact-info p {
  margin: 0;
}

section {
  margin-top: 30px;
}

.experience-entry {
  margin-bottom: 20px;
}

.experience-entry h3 {
  margin: 0;
}

.experience-entry .period {
  color: gray;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 250px; /* Set a max width to ensure the stars stay in line */
  margin-bottom: 5px; /* Add some spacing between skills */
}

.main-content {
  display: flex;
  margin-top: 30px;
}

.left-column {
  width: 75%;
  padding-right: 10px;
  border-right: 1px solid #ccc;
}

.right-column {
  width: 25%;
  padding-left: 10px;
}

.language-selector {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

-- Project

.projects {
  margin-bottom: 20px;
}

.project-category {
  margin-bottom: 20px;
}

.project-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.project-details {
  display: flex;
}

.project-image {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.project-date, .project-title, .project-link, .project-description {
  margin: 0;
}

.project-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
